<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="/app.css"></link>
        <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"></link>
    </head>
    <body>