<% include partials/header %>
<div align="center">
    <h1>Welcome Home</h1>
    <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/rottweiler-puppies/rottweiler-puppy-10.jpg"></img>
</div>
<% include partials/footer %>