<html>
    <head>
        <title>Love</title>
    </head>
    <body>
        <div align="center">
            <h1>You fell in love with...</h1>
            <h2><%=thingVar%></h2>
        </div>
    </body>
</html>