.blog-image{
    max-width: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.date{
    font-size: .75em;
    text-align: center;
}

i.icon{
    font-size: 2em;
}

.i-image{
    height: 150px;
}

.padding{
  padding-top: 1em;
}

.right{
  text-align: right;
}